<div ng-include="'templates/_nav.html'"></div>
<main>
	
	<div class="container" >
		
		<div class="row">
				<div class="input-field col s6">
		        	<input ng-model="pessoa.pessoa_nome" placeholder="Nome" id="pessoa_nome" type="text" class="validate">
		        </div>

		        <div class="input-field col s6">
		        	<button ng-click="inserirPessoa(pessoa)" class="btn waves-effect waves-light green">Salvar</button>
		        </div>
    	</div>

    	<div class="row">
				<div class="input-field col s6">
		        	<input ng-model="nome_pesquisa" placeholder="Pesquisar" id="nome_pesquisa" type="text" class="validate">
		        </div>

		        <div class="input-field col s6">
		        	<button ng-click="carregarPorNome(nome_pesquisa)" class="btn waves-effect waves-light blue">Pesquisar</button>
		        	<button ng-click="listarTodos()" class="btn waves-effect waves-light blue">Listar Todos</button>
		        </div>
    	</div>
	 
	 	<div class="row">
			<table class="striped">
		 		<thead>
		 			<tr>
		 				<th>Id</th>
		 				<th>Nome</th>
		 			</tr>
		 		</thead>
		 		<tbody>
		 			<tr ng-repeat="pessoa in lista_pessoas" >
		 				<td>{{pessoa.pessoa_id}}</td>
		 				<td>{{pessoa.pessoa_nome}}</td>
		 				<td><button ng-click="deletarPessoa(pessoa.pessoa_id)" class="btn waves-effect waves-light red">Deletar</button></td>
		 			</tr>
		 		</tbody>
		 	</table>
		</div>
	   
	</div>

</main>